body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #EC8F5E;
    color: #fff;
    text-align: center;
    padding: 1em;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #F4F27E;
    border-radius: 5px;
}

section {
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #333;
    color: #fff;
}

p a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #4CAF50; 
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease; 
}

p a:hover {
    background-color: #45a049;
}

nav {
    margin-top: 20px;
    text-align: center;
}

nav a {
    display: inline-block;
    margin: 0 10px;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #4CAF50; 
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease; 
}

nav a:hover {
    background-color: #45a049;
}
